@model EPharma.App.ViewModels.PlanoViewModel

@{
    ViewData["Title"] = "Cadastro Plano de Saúde";
}

<h4 style="padding-top:30px">@ViewData["Title"]</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="NomePlano" class="control-label"></label>
                <input asp-for="NomePlano" class="form-control" />
                <span asp-validation-for="NomePlano" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataInicioVigencia"  class="control-label"></label>
                <input asp-for="DataInicioVigencia"  class="form-control" />
                <span asp-validation-for="DataInicioVigencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataFimVigencia" class="control-label"></label>
                <input asp-for="DataFimVigencia" class="form-control" />
                <span asp-validation-for="DataFimVigencia" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsPJ" /> @Html.DisplayNameFor(model => model.IsPJ)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
                <a class="btn btn-info" asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
